
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Amiri', serif;
  font-feature-settings: "kern", "liga", "clig";
}
